@media (max-width: 992px) {
  .wrapper {
    padding: 20px;
    padding-bottom: 40px;
  }
  .cardWrapper {
    column-gap: 10px;
  }
}

@media (max-width: 768px) {
  .search {
    flex-direction: column;
    gap: 20px;
    h1 {
      text-align: center;
      overflow: auto;
      max-width: 100%;
      font-size: 25px;
    }
  }
  .content {
    margin: 20px 0;
  }
  header {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 576px) {
  body {
    padding: 10px;
  }
  .wrapper {
    padding: 10px;
    padding-bottom: 30px;
  }
  .search {
    h1 {
      font-size: 20px;
    }
    .searchBlock {
      max-width: 100%;
      flex-shrink: 0;
      input {
        width: 100%;
      }
    }
  }
  .favoritesEmpty,
  .ordersEmpty {
    svg {
      margin-top: 50px;
    }
    .greenButton {
      max-width: 100%;
    }
  }
  .greenButton {
    svg,
    img {
      right: 15%;
    }
  }
}
