header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  img,
  svg {
    margin-right: 15px;
    &:hover {
      path {
        fill: red
      }
    }
  }
  .headerLeft {
    display: flex;
    align-items: center;
  }
  .headerRight {
    display: flex;
    .cart {
      margin-right: 30px;
    }
    .cartPrice {
      cursor: pointer;
      display: flex;
      &:hover {
        svg {
          path {
            fill: none;
            stroke: red;
          }
        }
      }
    }
  }
  .heart {
    cursor: pointer;
    margin-right: 30px;
  }
}
