header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  img,
  svg {
    margin-right: 15px;
  }
  .headerLeft {
    display: flex;
    align-items: center;
  }
  .headerRight {
    display: flex;
    .cart {
      margin-right: 30px;
    }
    .cartPrice {
      cursor: pointer;
      display: flex;
    }
  }
}
