* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: linear-gradient(90deg, #f598a8, #f6edb2);
  padding: 30px;
}

label {
  cursor: pointer;
}

.wrapper {
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  margin: 0 auto;
  padding: 40px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  img,
  svg {
    margin-right: 15px;
  }
  .headerLeft {
    display: flex;
    align-items: center;
  }
  .headerRight {
    display: flex;
    .cart {
      margin-right: 30px;
    }
  }
}

.divider {
  background-color: #eaeaea;
  width: 100%;
  height: 3px;
}

.content {
  margin: 40px 0;
}

.card {
  border: 1px solid #f3f3f3;
  padding: 20px;
  width: 220px;
  border-radius: 40px;
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.06);
    transform: translateY(-5px);
  }
  .favorite {
    position: absolute;
    cursor: pointer;
  }
  span {
    opacity: 0.5;
    font-size: 13px;
    text-transform: uppercase;
  }
  b {
    font-size: 17px;
  }
  button {
    background-color: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 8px;
    height: 32px;
    width: 32px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h5 {
    font-weight: 400;
    font-size: 14px;
    margin: 16px 0;
  }
}

.cardBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardPrice {
  display: flex;
  flex-direction: column;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  .searchBlock {
    border: 1px solid #f3f3f3;
    display: flex;
    border-radius: 10px;
    padding: 0 15px;
    label {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    input {
      border: none;
      padding: 10px;
      font-size: 16px;
      &:focus {
        outline: none;
      }
    }
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.greenButton {
  width: 100%;
  height: 55px;
  background-color: #9dd558;
  border-radius: 18px;
  border: none;
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background: chartreuse;
  }
}

.drawer {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 420px;
  right: 0;
  height: 100%;
  background: #fff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  .removeBtn {
    opacity: 0.5;
    transition: all 0.3s;
    flex-shrink: 0;
    cursor: pointer;
    rect {
      transition: all 0.4s;
    }
    path {
      transition: all 0.4s;
    }
    &:hover {
      rect {
        fill: red;
      }
      path {
        fill: white;
      }
    }
  }
  h2 {
    font-size: 24px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }
  .items {
    flex: 1;
    overflow: auto;
  }
  .cartItem {
    display: flex;
    align-items: center;
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px 10px;
    .cartItemImg {
      width: 70px;
      height: 70px;
      background-size: contain;
      background-position: 0px -3px;
      background-repeat: no-repeat;
      margin-right: 20px;
      flex-shrink: 0;
    }
    img {
      margin-right: 20px;
    }
    p {
      margin-bottom: 5px;
      font-size: 16px;
    }
    .cartInfo {
      margin-right: 20px;
    }
  }
  .cardTotalBlock {
    ul {
      list-style-type: none;
      li {
        display: flex;
      }
      div {
        flex: 1;
        border-bottom: 1px dashed #dfdfdf;
        margin: 0 10px;
      }
    }
    .greenButton {
      position: relative;
      &:hover {
        svg {
          transform: translate(10px, -50%);
        }
      }
      svg {
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.3s;
      }
    }
  }
}
